.blog-post {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.blog-post h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.post-category {
    font-size: 20px;
    color: #444ce0;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.post-id {
    margin-bottom: 10px;
    text-align: center;
    color: #6a6a6a;
}

.blog-post img {
    max-width: 100%; /* 이미지가 부모 컨테이너를 넘지 않도록 설정 */
    width: 200px; /* 원하는 너비 */
    height: auto; /* 비율을 유지하며 높이 자동 조절 */
    display: block;
    margin: 20px auto; /* 이미지 중앙 정렬 */
    border-radius: 8px; /* 이미지 둥근 테두리(선택 사항) */
}

.post-content {
    margin: 40px auto;
}

.post-content p {
    margin: 10px 0;
    color: #000000;
    font-size: 16px;
    text-align: justify;
}

.post-tags {
    display: flex;    /* Flexbox로 레이아웃 설정 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    margin: 50px auto;
}

.post-tags .tag {
    display: inline-block;
    border: 1px solid ;
    color: #444ce0;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 12px;
    margin-right: 10px;
}

.post-actions {
    display: flex;
    justify-content: center; /* 버튼 중앙 정렬 */
    align-items: center;
    gap: 10px; /* 버튼 사이 간격 */
    font-size: 14px;
    color: #6a6a6a;
    margin: 20px auto;
}

.post-actions button {
    background: none;
    border: none;
    color: #6a6a6a;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
}

.divider {
    color: #aaa;
    font-size: 14px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}

.navigation button {
    background: none;
    border: none;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
    text-align: center;
}

.navigation button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

