.blog-post {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.blog-post h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.post-category {
    font-size: 20px;
    color: #444ce0;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.post-id {
    margin-bottom: 10px;
    text-align: center;
    color: #6a6a6a;
}

.blog-post img {
    max-width: 100%;
    width: 200px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

.post-content {
    margin: 40px auto;
}

.post-content p {
    margin-top: 10px;
    color: #000000;
    font-size: 16px;
    text-align: justify;
}

.post-content h1 {
    font-size: 2.5em;
    font-weight: bold;
}

.post-content h2 {
    font-size: 2em;
    font-weight: bold;
}

.post-content h3 {
    font-size: 1.75em;
    font-weight: bold;
}

.post-content h4 {
    font-size: 1.5em;
    font-weight: bold;
}

.post-content h5 {
    font-size: 1.25em;
    font-weight: bold;
}

.post-content h6 {
    font-size: 1em;
    font-weight: bold;
}

.post-tags {
    display: flex;
    justify-content: flex-start;
    margin: 50px auto;
}

.post-tags .tag {
    display: inline-block;
    border: 1px solid;
    color: #444ce0;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 12px;
    margin-right: 10px;
}

.post-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #6a6a6a;
    margin: 20px auto;
}

.post-actions button {
    background: none;
    border: none;
    color: #6a6a6a;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
}

.divider {
    color: #aaa;
    font-size: 14px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}

.navigation button {
    background: none;
    border: none;
    font-size: 14px;
    color: #202123;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
}

.navigation .nav-label {
    font-size: 15px;
    color: #202123;
    font-weight: bold;
}

.navigation .nav-title {
    font-size: 15px;
    color: #202123;
    font-weight: normal;
    padding-left: 8px;
    padding-right: 8px;
}

.navigation button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.navigation button:disabled .nav-label,
.navigation button:disabled .nav-title {
    color: #ccc;
}