.ci-intro {
    padding: 20px;
    background-color: #f2f2f2; /* 탭 내부 배경 회색 */
    border-radius: 0px; /* 각진 모서리 */
    width: 100%; /* 부모의 가로 크기 채우기 */
    height: 100%; /* 부모의 세로 크기 채우기 */
    box-sizing: border-box; /* 패딩 포함 계산 */
}

.logo-section {
    background-color: #ffffff; /* 로고 배경 흰색 */
    border: 1px solid #d9d9d9; /* 회색 테두리 */
    margin-bottom: 30px; /* 섹션 간격 */
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.header {
    position: relative; /* 위치 설정 */
    margin-bottom: -20px; /* 아래 박스와 겹치지 않도록 여백 */
    z-index: 2; /* 텍스트가 박스 위로 오게 */
    background-color: #f2f2f2; /* 배경색이 동일하도록 설정 */
    padding: 10px 20px;
}

.header h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: left; /* 왼쪽 정렬 */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.logo-image {
    max-width: 50%; /* 이미지 크기 조정 */
    height: auto;
}

.header h2 {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 버튼과 텍스트를 양쪽으로 배치 */
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000; /* 검정 텍스트 */
}

.download-button {
    margin-left: 10px; /* 텍스트와 버튼 사이 간격 */
    text-decoration: none;
    background-color: #d9d9d9; /* 버튼 배경색 */
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.download-button:hover {
    background-color: #d9d9d9; /* hover 색상 */
}
