.faq-page {
  padding: 20px;
}

.faq-filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.faq-filter-button {
  font-size: 18px; /* 크기 수정 */
  font-weight: 600;
  color: #333;
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px 0;
  position: relative;
}

.faq-filter-button.selected {
  font-weight: bold;
}

.faq-filter-button.selected::after {
  content: '';
  display: block;
  height: 2px;
  background-color: black;
  margin-top: 5px;
  width: 100%;
}

/* FAQ 아이템 스타일 */
.faq-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  transition: all 0.3s ease;
  background: #f9f9f9;
  margin-bottom: 20px; /* 추가된 부분 */
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.faq-toggle-icon {
  width: 24px;
  height: 24px;
}

/* FAQ 답변 스타일 */
.faq-answer {
  margin-top: 15px;
  display: flex;
  align-items: flex-start; /* 수정된 부분 */
  gap: 15px;
}

.faq-penguin {
  width: 120px; /* 크기 조정 */
  height: auto;
  margin-right: 15px; /* 추가된 부분 */
}

.faq-speech-bubble {
  background: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  flex: 1;
  font-size: 16px;
}

.faq-footer-text {
  color: blue;
  font-size: 16px;
  text-align: left;
  margin-top: 20px;
}
