/* Form 스타일 */
.info-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

/* 입력 필드 컨테이너 스타일 */
.info-form_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/* 라벨과 입력 필드를 감싸는 컨테이너 */
.input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

/* 라벨 스타일 */
.info-form_field label {
    width: 120px;
    margin-right: 10px;
    text-align: right;
}

/* 입력 필드 스타일 */
.info-form_input {
    width: 350px;
    padding: 10px;
    border: 1px solid #6a6a6a;
    border-radius: 20px;
    font-size: 16px;
    background-color: #f9f9f9;
}

/* 오류 메시지 스타일 */
.info-form_error {
    color: #E71818;
    font-size: 16px;
    margin-top: 5px;
    margin-left: -150px;
    /* 라벨 너비 + 마진 */
}

.info-text {
    color: #444CE0;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 30px;
}

.form_subtitle {
    font-size: 20px;
    font-weight: bold;
}