.login-container {
  margin: 50px auto;
    border: 1px solid #6A6A6A;
    border-radius: 5px;
    text-align: center;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.login_logo {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.login-form input {
  width: calc(100% - 100px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #6A6A6A;
  border-radius: 20px;
  color: #202123;
  font-size: 16px;
}

.login-form button {
  width: 80%;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #D9D9D9;
  color: #202123;
  border: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.links {
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 20px;
}

.links a {
  color: #202123;
  text-decoration: none;
  margin: 0 5px;
}

.error-message {
  color: #E71818;
  font-size: 16px;
  margin-top: 10px;
}