.notice-list-container {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

thead th {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 8px;
  background-color: #f3f3f3;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

td {
  font-size: 14px;
  padding: 12px 8px;
  border: 1px solid #ddd;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 페이지네이션 여백 추가 */
.pagination {
  margin-top: 5rem;
}

.write-button-container {
  display: flex;
  justify-content: flex-end;
  height: 35px;
  /* 오른쪽 정렬 */
  margin: 50px auto;
  /* 위와의 간격 조절 */
}

.write-button {
  background-color: #202123;
  color: #F9F9F9;
  padding: 5px 20px;
  border: black solid 1px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: none;
  display: flex;
  align-items: center;
}