.notice-list-container {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

thead th {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 8px;
  background-color: #f3f3f3;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

td {
  font-size: 14px;
  padding: 12px 8px;
  border: 1px solid #ddd;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
