.password-reset {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.password-reset h2 {
  text-align: center;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 24px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-field label {
  width: 120px;
  margin-right: 10px;
  text-align: right;
}

.form-field input {
  width: 350px;
  margin-left: 15px;
  padding: 10px;
  border: 1px solid #6a6a6a;
  border-radius: 20px;
  font-size: 16px;
}

.error-message {
  color: #E71818;
  font-size: 16px;
  margin-top: 5px;
  margin-left: -50px;
}

.resetBtn {
  margin-top: 60px;
}

.LoginResetBtn button,
.MyResetBtn button {
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  background: none;
  border: none;
}

.LoginResetBtn {
  width: 100%;
  margin-bottom: 30px;
  background-color: #D9D9D9;
  color: #202123;
  border-radius: 5px;
}

.MyResetBtn {
  margin-top: 20px;
  border: 1px solid #202123;
  border-radius: 5px;
}

.mypage-section {
  border: 1px solid #202123;
  /* 테두리 */
  padding: 30px;
  /* 내부 여백 */
  margin-top: 20px;
  /* 상단 간격 */
}

.mypage-section h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.mypage-section .error-message {
  color: #E71818;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 0px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.check-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  /* 입력 필드 오른쪽에 여백 */
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
  /* 아이콘이 클릭되지 않도록 */
}

.input-container {
  position: relative;
}