.input-container {
    position: relative;
    width: 350px;
}

.auth-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #202123;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}