.posts-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* 각 게시물 간 간격 */
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.post-item {
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr 0.5fr 0.5fr;
  /* 각 열의 비율 설정 */
  align-items: center;
  /* 세로 중앙 정렬 */
  padding: 10px 20px;
  /* 내부 여백 */
  border-bottom: 1px solid #ddd;
  /* 밑줄 */
  width: 50%;
}

.post-item span {
  text-align: left;
  /* 텍스트 좌측 정렬 */
}

.post-item button {
  text-align: right;
  /* 버튼 오른쪽 정렬 */
}

.no-posts {
  text-align: center;
  padding: 20px;
  color: #999;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;
  /* 버튼 간 간격 */
}

.pagination button {
  width: 40px;
  /* 버튼 너비 고정 */
  height: 40px;
  /* 버튼 높이 고정 */
  padding: 0;
  /* 내부 여백 제거 */
  font-size: 16px;
  /* 글자 크기 */
  line-height: 40px;
  /* 버튼 높이에 맞춘 중앙 정렬 */
  cursor: pointer;
  text-align: center;
  /* 텍스트 중앙 정렬 */
}

.user-posts {
  margin-top: 50px;
  margin-bottom: 100px
}